<!DOCTYPE html>
<html lang="en">
<head>
  <title>FizzBuzz</title>
</head>
<body class="container">

<main>
  <form action="/fizzbuzz" method="post">
    <input type="text" name="input_data" placeholder="Enter Numbers">
    <input type="submit" name="Submit">
  </form>
</main>

</body>
</html>